@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 16px;
    color: black;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;   
}

#background-img {
    max-width: 100%;
    margin-bottom: 10px;
}

.intro__body {
    position: relative;
    min-height: 100vh;
    background-color: #CCDBEE;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.card-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.header {
    background-color: rgba(68, 112, 173, 0.6);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    padding-left: 20px;

}

.header__logo {
    width: 45px;
    height: 45px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

footer {
    background-color: #f8f9fa;
    color: #212529;
    text-align: left;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.form-structor {
    background-color: #222;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    margin: 40px auto 0;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        opacity: .8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 500px;
        background-image: url('../img/introbg.jpeg');
    }

    .signup {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        width: 65%;
        z-index: 5;
        -webkit-transition: all .3s ease;


        &.slide-up {
            top: 5%;
            -webkit-transform: translate(-50%, 0%);
            -webkit-transition: all .3s ease;
        }

        &.slide-up .form-holder,
        &.slide-up .submit-btn {
            opacity: 0;
            visibility: hidden;
        }

        &.slide-up .form-title {
            font-size: 1em;
            cursor: pointer;
        }

        &.slide-up .form-title span {
            margin-right: 5px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .3s ease;
        }

        .form-title {
            color: #fff;
            font-size: 1.7em;
            text-align: center;

            span {
                color: rgba(0, 0, 0, 0.4);
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .3s ease;
            }
        }

        .form-holder {
            border-radius: 15px;
            background-color: #fff;
            overflow: hidden;
            margin-top: 50px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .3s ease;

            .input {
                border: 0;
                outline: none;
                box-shadow: none;
                display: block;
                height: 30px;
                line-height: 30px;
                padding: 8px 15px;
                border-bottom: 1px solid #eee;
                width: 100%;
                font-size: 12px;

                &:last-child {
                    border-bottom: 0;
                }

                &::-webkit-input-placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }

        .submit-btn {
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(256, 256, 256, 0.7);
            border: 0;
            border-radius: 15px;
            display: block;
            margin: 15px auto;
            padding: 15px 45px;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .3s ease;

            &:hover {
                transition: all .3s ease;
                background-color: rgba(0, 0, 0, 0.8);
            }
        }
    }

    .login {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 5;
        -webkit-transition: all .3s ease;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: -20px;
            -webkit-transform: translate(-50%, 0);
            background-color: #fff;
            width: 200%;
            height: 250px;
            border-radius: 50%;
            z-index: 4;
            -webkit-transition: all .3s ease;
        }

        .center {
            position: absolute;
            top: calc(50% - 10%);
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            width: 65%;
            z-index: 5;
            -webkit-transition: all .3s ease;

            .form-title {
                color: #000;
                font-size: 1.7em;
                text-align: center;

                span {
                    color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all .3s ease;
                }
            }

            .form-holder {
                border-radius: 15px;
                background-color: #fff;
                border: 1px solid #eee;
                overflow: hidden;
                margin-top: 50px;
                opacity: 1;
                visibility: visible;
                -webkit-transition: all .3s ease;

                .input {
                    border: 0;
                    outline: none;
                    box-shadow: none;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    padding: 8px 15px;
                    border-bottom: 1px solid #eee;
                    width: 100%;
                    font-size: 12px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &::-webkit-input-placeholder {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .submit-btn {
                background-color: #6B92A4;
                color: rgba(256, 256, 256, 0.7);
                border: 0;
                border-radius: 15px;
                display: block;
                margin: 15px auto;
                padding: 15px 45px;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
                opacity: 1;
                visibility: visible;
                -webkit-transition: all .3s ease;

                &:hover {
                    transition: all .3s ease;
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }

        &.slide-up {
            top: 90%;
            -webkit-transition: all .3s ease;
        }

        &.slide-up .center {
            top: 10%;
            -webkit-transform: translate(-50%, 0%);
            -webkit-transition: all .3s ease;
        }

        &.slide-up .form-holder,
        &.slide-up .submit-btn {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s ease;
        }

        &.slide-up .form-title {
            font-size: 1em;
            margin: 0;
            padding: 0;
            cursor: pointer;
            -webkit-transition: all .3s ease;
        }

        &.slide-up .form-title span {
            margin-right: 5px;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .3s ease;
        }
    }
}


.stats__title {
    margin-bottom: 20px;
}

.stats__tabs {
    display: flex;
    flex-wrap: wrap;
}

.stats__tabs-label {
    padding: 10px 16px;
    cursor: pointer;
}

.stats__tabs-radio {
    display: none;
}

.stats__tabs-content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.stats__tabs-radio:checked+.stats__tabs-label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
}

.stats__tabs-radio:checked+.stats__tabs-label+.stats__tabs-content {
    display: initial;
}