@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 16px;
    color: black;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.main-page {
    margin-bottom: 100px;
}
.about {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    background-image: url("img/scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#title {
    font-size: 36px;
    position: absolute;
    color: #fff;
    top: 20%;
    left: 50%;
    z-index: 20;
}

.intro__body {
    position: relative;
    min-height: 100vh;
    background-color: #CCDBEE;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.card-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 48%;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}


.header {
    --background-color: rgba(68, 112, 173, 0.6);
    background-color: #c9e9e8;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    color: #58a8ff;
    padding-left: 20px;

}

.header__logo {
    width: 45px;
    height: 45px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.card {
    background-color: #c9e9e8;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


footer {
    background-color: #f8f9fa;
    color: #212529;
    text-align: left;
    padding: 20px;
    width: 100%; 
    position: fixed;
    bottom: 0;
}

.stats {
    margin-top: 100px;
}

.stats__title {
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border: 2px solid #42a5f5;
    ;
    border-bottom: none;
    background-color: #f9f9f9;
}

.tab__link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab__link:hover {
    background-color: #ddd;
}

.tab__link-active {
    background-color: #ccc;
}

.tab__content {
    display: none;
}

.tab__content-active {
    display: block;
    padding: 6px 12px;
    border: 2px solid #42a5f5;
    border-top: none;
}

.tab__content-active {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.personality-type {
    font-weight: bold;
    font-size: 2em;
  }

.test-page {
    font-family: Arial, sans-serif;
    margin-top: 80px;
    padding: 0;
    margin-bottom: 100px;
}

.test-page h1 {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.test-page h2 {
    padding: 5px;
}

.question div {
    padding: 3px;
}

.question label {
    padding: 5px;
}

.test-page form#quiz {
    width: 80%;
    margin: 20px auto;
}

.test-page .question {
    margin-bottom: 20px;
}

.test-page input[type="radio"]:hover {
    transform: scale(1.2); 
}

.test-page input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.test-page input[type="submit"]:hover {
    background-color: #0056b3;
}

.thank-you-page {
    margin-top: 120px;
    text-align: center;
}

.test-link-container {
    padding: 20px;
    text-align: center;
}

.login__container {
    margin-top: 200px;
}

.header-headings {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.header-headings>span {
    margin: 3px 0;
}

.header-headings.sign-in {
    transform: translateY(0);
}

.header-headings.sign-up {
    transform: translateY(-25px);
}

.header-headings.forgot {
    transform: translateY(-50px);
}

.options {
    display: flex;
    align-items: center;
    width: 350px;
}

@media screen and (max-width: 380px) {
    .options {
        width: 100%;
    }
}

.options>li {
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease;
}

.options>li:hover {
    opacity: 1;
}

.options>li.active {
    opacity: 1;
}

.options>li:nth-of-type(2) {
    margin-left: 15px;
}

.options>li:last-of-type {
    margin-left: auto;
}

.account-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.account-form-fields {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-form-fields.sign-in {
    max-height: 123px;
}

.account-form-fields.sign-up {
    max-height: 250px;
}

.account-form-fields.forgot {
    max-height: 61px;
}

.account-form-fields>input {
    border: 0;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
    color: #000;
    border-radius: 5px;
}

.account-form-fields>input::placeholder {
    color: #aaa;
}

.account-form-fields>input::-webkit-input-placeholder {
    color: #aaa;
}

.account-form-fields>input:-ms-input-placeholder {
    color: #aaa;
}

.account-form-fields>input:focus {
    outline: none;
}

.btn-submit-form {
    padding: 10px 20px;
    margin: 10px auto;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: Nunito, sans-serif;
    background: #6381e8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    transition: all .2s ease;
}

.btn-submit-form:hover {
    background: #4468e4;
}

.btn-submit-form:active,
.btn-submit-form:focus {
    outline: none;
    background: #2e56e0;
}


.journal {
    margin: 20px auto;
    margin: 100px 0;
  }
  
.journal__title {
    text-align: center;
    margin-bottom: 30px;
}

.journal__label {
    display: block;
    width: 100%;
    font-weight: 600;
  }

.journal__text {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid #6381e8;
    border-radius: 5px;
  }
  .journal__input {
    padding: 5px;
    border: 2px solid #6381e8;
    border-radius: 5px;
  }
  .journal__subtitle {
    margin-bottom: 5px;
  }
  .journal__category {
    margin-bottom: 15px;
    border: 2px solid #6381e8;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  .journal__attachment {
    margin-bottom: 15px;
  }
  .journal__form {
    margin-bottom: 30px;
  }
  
  .journal__wrapper {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  .journal__table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

.journal__table  thead tr {
    background-color: #6381e8;
    color: #ffffff;
    text-align: left;
}

.journal__table th,
.journal__table td {
    padding: 12px 15px;
}

.journal__table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.journal__table tbody td {
    max-width: 500px;
    word-wrap: break-word;
}

.journal__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.journal__table tbody tr:last-of-type {
    border-bottom: 2px solid #6381e8;
}

.journal__table tbody tr.active-row {
    font-weight: bold;
    color: #6381e8;
}

.chatbot-container {
    z-index: 2000;
  }
  
  .chatbot {
    position: fixed;
    top: 100px; 
    right: 0; 
    max-width: 400px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    transition: transform 2s ease-in-out;
}
  
  .chatbot__messages {
    height: 200px;
    overflow-y: auto;

  }
  
  .message {
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
  }
  
  .message_user {
    background-color: #e6f7ff;
  }
  
  .message_assistant {
    background-color: #8aa1ec;
  }
  
  .chatbot__form {
    display: flex;
    margin-top: 10px;
  }
  
  .chatbot__form input {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
  }
  
  .chatbot__form button {
    padding: 8px;
    background-color: #6381e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chatbot-toggle {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 10px;
    background-color: #6381e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .chatbot-toggle:hover {
    background-color: #4a5aa9;
  }
  


  .loading-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(80, 80, 80, 0.7)
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .entry_card {
    margin: 100px auto;
    padding: 20px;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }


  .entry__table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.entry__table  thead tr {
    background-color: #6381e8;
    color: #ffffff;
    text-align: left;
}

.entry__table th,
.entry__table td {
    padding: 12px 15px;
}

.entry__table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.entry__table tbody td {
    max-width: 500px;
    word-wrap: break-word;
}

.entry__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.entry__table tbody tr:last-of-type {
    border-bottom: 2px solid #6381e8;
}

.entry__table tbody tr.active-row {
    font-weight: bold;
    color: #6381e8;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}